body{
  background: linear-gradient(135deg, rgba(30,90,122,1) 0%, rgba(51,28,74,1) 77%, rgba(51,28,74,1) 86%, rgba(51,28,74,1) 100%) !important;
}
label{
  color: #fff;
}

ion-input  {
  border: 1px solid whitesmoke !important;
  border-radius: 10px; 
  background-color: whitesmoke !important;
  font-size: 14px !important;
  font-weight: 600;
  text-transform: uppercase;
  color: black !important;
}
ion-label {
  color: whitesmoke;
  font-size: 14px;
  font-weight: 400;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.errors{
  color: red;
}
ion-select {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  color : black;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 700;
  background-color: whitesmoke;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
select{
  border: 1px solid whitesmoke;
  border-radius: 5px;
  color : black !important;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 700;
  background-color: whitesmoke;
  width: 100%;
}
.menu{
  font-size: 18px;
  text-decoration: none;
}
ion-title{
  color: whitesmoke;
}
ion-menu-button{
  color: whitesmoke;
}
ion-checkbox {
  --size: 25px;
  --background-checked: #6815ec;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #6815ec;
}
.menu-icon{
  size: 20px;
  margin-right: 10px;
}

ion-icon{
  font-size: 25px;
  color: white;
}

ion-alert.custom-alert {
  --backdrop-opacity: 0.7;
}

.custom-alert .alert-button-group {
  padding: 8px;
}

button.alert-button.alert-button-confirm {
  background-color: var(--ion-color-success);
  color: var(--ion-color-success-contrast);
}

.md button.alert-button.alert-button-confirm {
  border-radius: 4px;
}

.ios .custom-alert button.alert-button {
  border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2)
}

.ios button.alert-button.alert-button-cancel {
  border-right: 0;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
}

.ios button.alert-button.alert-button-confirm {
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: fit-content;
  border: 0.1px solid black;
  margin-bottom: 5px;
}

td{
  text-align: left;
  color: #000000;
  border: 0.1px solid black;
  font-size: 12px;
  text-transform: lowercase;    
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 1px;
  padding-right: 1px;
  width: 10%;
}
th {
  border: 0.1px solid black;
  text-align: left;
  padding: 0px;
  color: rgb(3, 3, 3);
  font-size: 12px;
  padding: 0.5px;
}
.table-design {
  white-space: nowrap;
  overflow: auto;
}
.column-size {
  padding: 1px;
}
ion-action-sheet.my-custom-class .action-sheet-group {
  background: #f58840;
  border-radius: 18px;
}

ion-action-sheet.my-custom-class .action-sheet-title {
color: #fff;
}

ion-action-sheet.my-custom-class .action-sheet-cancel::after {
background: #e97223;
}

ion-action-sheet.my-custom-class .action-sheet-button,
ion-action-sheet.my-custom-class .action-sheet-button.ion-focused {
color: #ffffff;
border-bottom: 1px solid black;
}

@media (any-hover: hover) {
ion-action-sheet.my-custom-class .action-sheet-button:hover {
  color: #000000;
}
}

ion-action-sheet.my-custom-class ion-backdrop {
opacity: 0.6;
}
h3{
margin-top: 5px;
margin-bottom: 9px;
font-weight: 500;
line-height: 1.2;
text-align: center;
}
ion-content{
width: 50%;
position: absolute;
left: 25%;
top: 7%;
}
@media only screen and (max-width: 768px) {
ion-content{
  width: 100%;
  position: absolute;
  left: 0%;
  top: 7%
}

}
.card{
margin-top: 10px; 
padding: 10px
}
.container{
/* height: 100vh; */
height: calc(100vh - 50px);
}
.pr-0{
padding-right: 0px;
}